/*
Theme Name: Smartbomb
Theme URI: http://smartbomb.io
Description: Smartbomb Wordpress theme based on Zurb foundation.
Version: 1.0.1
Author: Carlos Mendoza
Author URI: http://onlinevortex.com
Tags: bones, zurb, foundation, clean, basic
*/

/* layout */

.more-link{
	white-space: nowrap;
}

p.attribution{
	text-align: right;
}

article.post{
	margin-bottom: 18px;
	border-bottom: 1px solid #E6E6E6;
}

header .menu-action {
    float: left;
    margin-top: 0;
    position: relative;
    top: 1px;
}

header .menu-action .button.small {
    padding: 8px;
}

header .menu-action .button.small svg {
    opacity: 0.5;
}

.mobile-nav-container{
	margin-left: -100%;
	float: left;
	width: 50%;
	position: absolute;
	top: 150px;
}

.active .mobile-nav-container{
	display: block;
	margin-left: 0;
}

.active #main{
	margin-left: 55%;
}

.mobile-nav-container,
#main{
	-moz-transition: all 0.25s ease-in 0s;
}

.side-nav{
	height: auto;
}

ul.tabs.vertical {
    border-bottom: 1px solid #E6E6E6;
    height: auto;
}

ul.tabs {
    border-bottom: 1px solid #E6E6E6;
    display: block;
    height: 40px;
    margin-bottom: 20px;
    padding: 0;
}

ul.tabs.vertical li {
    border-left: 3px solid #CCCCCC;
}

ul.tabs.vertical li, ul.tabs.vertical li {
    float: none;
    height: auto;
}

ul.tabs li:first-child {
    margin-left: 0;
}

ul.tabs li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

ul.tabs.vertical li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px 1px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1;
    padding: 15px 20px;
}

ul.tabs li a {
    color: #6F6F6F;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 23.8px;
}

/* typography */
h1, h2, h3, h4, h5, h6{ font-family: 'Open Sans', sans-serif; font-weight: 300;}

.siteinfo h1{ font-weight: 800; }

/* post styling */

#main p.meta{
	font-style: italic;
	color: #808080;
}

div[id*='attachment_']{
	max-width: 100%;
	height: 100%;
}

#credit320{
	background: url('images/320press_mini.png') no-repeat left top transparent;
	padding-left: 20px;
	display: inline !important;
}

#main article img{
	max-width: 100%;
	margin-bottom: 18px;
}

h1.single-title{
	line-height: 1.1;
}

img.alignleft{
	margin-right: 10px;
	float: left;
}

img.alignright{
	margin-left: 10px;
	float: right;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

p.tags a:hover{
	color: #f0f0f0;
}

video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 630px;
	max-width: 100%;
	margin-bottom: 18px;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}

code, pre {
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 12px;
	padding: 5px 15px;
}

/* featured posts slider */
#featured{
	border: 1px solid #E6E6E6;
}

#featured div{
	padding: 0 15px;
}

#featured h3{
	margin-top: .2em;
	padding-left: .05em;
}

#featured p{
	padding-left: .1em;
}

#featured h3,
#featured p{
	width: 100%;
}

/* page styling */

.page-template-page-homepage-php #main {
	border-bottom: none;
}

/* comments */

#comments{
	line-height: 3.1rem;
	margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children{
	list-style-type: none;
	margin-left: 0;
}

ol.commentlist div.avatar{
	float: left;
	margin-right: 10px;
}

ol.commentlist time{
	font-size: .8em;
	color: #eeeeee;
}

ol.commentlist div.comment-author{
	position: relative;
}

.panel ol.commentlist a.comment-edit-link{
	color: #ffffff;
	text-decoration: none;
}

ol.commentlist span.edit-comment{
	position: absolute;
	right: 1.5em;
	top: 0;
}

.comment h4{
	margin-bottom: 0;
}

a.comment-reply-link{
	position: absolute;
	right: 1.5em;
	bottom: 0;
}

#cancel-comment-reply{
	padding-left: 20px;
}

#comment-nav ul{
	list-style-type: none;
	margin: 0;
}

#comment-form-elements{
	list-style-type: none;
	margin: 0;
}

/* specific post-type styles */

/* image attachment */

.attachment #main .post_content img{
	max-width: 100%;
}

li.next{
	text-align: right;
}

#sidebar1 .metadata,
#sidebar1 .caption{
	padding-bottom: 20px;
}

/* widget styles */

.widget{
	margin-bottom: 18px;
}

.widget li{
	margin-bottom: 2px;
}

.widget ul.children{
	margin-bottom: 0;
}

.widget ul.children li{
	margin-left: 9px;
}

#tag-cloud{
	margin-bottom: 18px;
}

a[class^='tag-link-']:hover{
	color: #f0f0f0;
}

/*
 * Theme Specific
 */

body {
    background-color: #E9E3E1;
    color: #222222;
    font-family: Open Sans;
    font-weight: normal;
}
.container {
}
.row {
	width: 935px;
}
.logo {
    background: url("images/sb-logo.png") no-repeat scroll left top transparent;
    height: 90px;
}
.offscreen {
	font-size: 0;
	text-indent: -999em;
    color: transparent;
}
.top-nav {
    background-color: transparent !important;
    position: absolute;
    right: 20px;
    top: 30px;
}
.nav-bar > li {
    display: block;
    float: left;
    line-height: 38px;
    margin: 0;
    padding: 0;
    position: relative;
    border: medium none;
}
.nav-bar > li:hover {
  background-color: #E9E3E1;
}
.nav-bar > li a {
    color: #E6E6E6;
    font-weight: bold;
    text-transform: uppercase;
}
li:last-child {
    border: medium none !important;
}
#ideas {
	background-color: #000;
    margin: 15px 15px 10px 0;
}
#ideas p {
	color: #fff;
    margin: 0 0 5px;
}
#ideas .today {
    display: inline-block;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}
#ideas .desc {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 0 0 5%;
}
#main {
	padding: 0;
}
#main article.tstory {
    border: 1px solid #CCCCCC !important;
    box-shadow: 1px 3px 2px 0 #D0D0D0;
    width: 300px;
    padding: 0;
    background-color: #fff;
}
#main article.tstory section {
	padding: 0 10px;
}
#main article.tstory h2, #main article header p {
	padding: 0 10px; 
}
#main article.tstory img {
    margin-bottom: 10px;
    max-width: 100%;
}
#main article.tstory h2 {
	margin: 0;
    font-size: 1.6rem;
	font-weight: bold;
}
#main article.tstory a {
	color: #000;
}
#main .tstory .default_image img {
    float: left;
	margin: 10px;
}
#main .tstory .default_image {
    height: 105px;
}

#main .tstory .default_image .meta {
    padding: 10% 0 0;
    font-size: 1.2rem;
}
#main .tstory p.meta {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#main .tstory section p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
}
#main .tstory footer.columns {
	padding: 0 10px;
}
footer .tinfo {
	border-top: 1px solid #000;
	padding: 10px 0 0;
}
footer .share {
  border-top: 1px solid #000000;
  position: relative;
  padding: 0;
}
footer .share a {
    font-size: 1.3rem;
    padding-top: 15%;
}
#main .tstory footer img {
    margin-bottom: 10px;
}

.tooltip {
  display: none;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  color: #424345;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 5px;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: normal;
  border: 1px solid #CCCCCC;
	box-shadow: 1px 3px 4px 0 #888888;

}
.tooltip > .nub {
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent white transparent;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
  position: absolute;
  top: -10px;
  left: 10px;
}
.tooltip.tip-right > .nub {
  border-color: transparent #5e5f61 transparent transparent;
  border-color: transparent rgba(94, 95, 97, 0.8) transparent transparent;
  right: auto;
  bottom: -10px;
}
.has-tip:hover {
  border-bottom: none;
  color: #0192dd;
}
.has-tip {
    border-bottom: none;
    color: #333333;
    cursor: help;
    font-weight: bold;
}
#content {
  margin: 0;
}
#people {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin: 0;
}
#people h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 7px 10px;
}
#people .column, #people .columns {
  padding: 0 10px;
}
#people .columns img {
    max-height: 48px;
    max-width: 48px;
}
#people .columns p {
    line-height: 1.6rem;
    margin: 0;
}
#people .columns a {
  color: #222;
}
#avatars li {
  padding-bottom: 15px;
}
#all p.columns{
    background-color: #4D4D4D;
    color: #FFFF00;
    padding: 20px 10px 20px 20px;
}
#all p.columns a {
    color: #FFFF00;
}
.rss-icon a {
    overflow: hidden;
    text-indent: -999px;
    background: url('images/rss-icon.png') no-repeat center center transparent;
}
#braintrust li img {
    max-height: 48px;
    max-width: 48px;
  margin: 0;
}
#braintrust li p {
  margin: 0;
  color: #222;
}
#braintrust li {
  list-style: none;
  height: 113px;
}
#braintrust li a {
  color: #222;
}
#main p.meta a{
    color: #939598;
    font-style: italic;
    padding: 0;
}
#main p.meta a{
    color: #939598;
    font-style: italic;
    padding: 0;
}
#main .tstory .default_image h2 {
  padding-top: 10px;
}
.tinfo .impact {
    background: url("images/impact_back.jpg") no-repeat scroll 3px -1px transparent;
    padding-right: 10px;
    padding-top: 2% !important;
    text-align: center;
}
.impact span {
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 36px;
    padding: 0;
}
.tinfo .columns {
  padding: 0;
}

/*
 * Media Queries
 */
 @media only screen and (max-width: 480px) {
    .logo {
        background: url("images/logo-small.png") no-repeat scroll left top transparent;
        height: 90px;
    }

 }

 @media only screen and (max-width: 770px) {
  ol.commentlist div.avatar{
    margin-right: 0;
  }
  
  #main{
    border-bottom: none;
  }

  #featured h3{
    margin-top: 2em;
    padding-left: 2em;
  }

  #featured p{
    padding-left: 4em;
  }

  #featured h3,
  #featured p{
    width: 66%;
  }
  .home #content {
      width: 97%;
  }
  #main .default_image h2 {
      float: left;
      padding: 20px 10px 0 0;
      width: 148px;
  }
  .tinfo .impact {
    text-align: left;
    padding-top: 1% !important;
  }
  .impact span {
    padding: 4px 0 0 14px !important;
  }
  #ideas {
    z-index: -1;
  }
}

@media only screen and (min-width: 940px) {
  /* desktop specific styles */
  
  #main{
    margin-bottom: 0;
  }
  
  ol.commentlist div.avatar{
    margin-right: 0;
  }
  .home #content {
      width: 953px;
  }
  #main .default_image h2 {
      float: right;
      padding: 10% 10px 0 0;
      width: 148px;
  }
}
