.newsletter_notice {
	font-size:12px;
	color:#008adb;
}
.newsletter_error {
	display:block;
	padding:5px;
	font-weight:bold;
	background-color:#ffe9e9;
	border: 1px solid #ff0000;
	color:red;
	text-align:center;
}
#newsletter_accordion {
	margin-bottom: 15px;
}
h3.instructions span {
    display: inline-block;
}
#templateinstructions {
	cursor: pointer;
}
#templateinstructionslist {
	width: 50%;
	display: none;
}
table.section {
	border: 1px solid #999;
}
.sbnewsletter .template_select_box {
	float:left;
	margin:10px 20px 10px 0px;
	padding:5px;
	border:1px solid #ccc;
	height:200px;
	width:200px;
	overflow:hidden;
	cursor:pointer;
}
.sbnewsletter .template_select_box:hover {
	border:1px solid #000;
}

.sbnewsletter .template_select_box img {
	display:block;
	max-width:180px;
	margin:0px auto;
}

.sbnewsletter .template_select_box span {
	display:block;
	clear:both;
	text-align:center;
}
.sbnewsletter input[type=text] {
	width:500px;
}

.sbnewsletter textarea {
	width:100%;
	height:200px;
}
#posts_available {
    float: left;
    margin: 0 0 0 10px;
    max-height: 500px;
    overflow: auto;
    width: 200px;
}
#posts_available li {
	border: 1px solid #ccc;
	margin: 5px 0;
	padding: 3px 5px;
}
#contentorder {
    border: 1px solid #CCCCCC;
    margin-left: 220px;
    padding: 3px;
}
.templatelogo {
	background: #ffffff url(../images/logo-small.png) 50% 50% no-repeat;
	height: 67px;
}
.templateheader h3 {
	text-transform: uppercase;
	font-weight: bold;
}
.templatefooter {
	text-align: center;
}
#newslettercontent {
	min-height: 70px;
	border: 1px dashed #e00;
}
.newsletter-content-highlight {
    background-color: #EEEEEE;
    color: #999999;
    font-size: 2rem;
    height: 210px;
    padding-top: 70px;
    text-align: center;
    width: 100%;
}
.newsletter-content-highlight:after {
	content: " ( drop item here )";
}
.removeitem {
	color: #f00;
	float: right;
	cursor: pointer;
}
.loading {
	background: url("../images/ajax-loader.gif") no-repeat scroll 95% 50% #FFFFFF;
}
.newsletter_campaigns_analytics_table {
	width:100%;
}
.newsletter_campaigns_analytics_table campaign {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
.newsletter_campaigns_analytics_table .newsletter_campaign_data_title {
	font-size:12px;
	color:#242424;
}
.newsletter_campaigns_analytics_table .newsletter_campaign_data_title {
	font-size:10px;
	font-weight:bold;
}
.newsletter_campaigns_analytics_table td.newsletter_campaign_title {
	font-weight:bold;
	font-size:16px;
	color:#0a0a0a;
}
.newsletter_campaigns_analytics_table td {
	padding:3px;
	background-color: #f4f4f4;
}
.newsletter_campaigns_analytics_table tr.newsletter_campaign_separate td {
	height:15px;
	background-color:#fff;
}
.newsletter_success {
	display:block;
	padding:5px;
	font-weight:bold;
	background-color:#dfffe4;
	border: 1px solid #157a2c;
	color:#157a2c;
	text-align:center;
}